.downtab{
    height: 600px;
    width: 190vh;
    background-color: white;
    margin-left: 50px;
    margin-bottom: 10vh;
    margin-top: 20vh;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(75, 71, 71);
}
.downnav{
    padding-top: 0.5rem;
    margin-top: 10vh;
    align-items: center;
    height: 20vh;
}
.downtitles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 5vh;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}
li{
    width:60vh;
    height: 10vh;
    background-color: white;
    box-shadow: 0 0 3px black;
    padding-top: 1rem;
}