*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.container{
    width: 95%;
    margin-left: auto;
    user-select: none;
    margin-top: 5rem;
}
.topnav{
    background-color: #006A4D;
    color: white;   
    height:180px;
    display: flex;
    justify-content: space-between;
    margin-left: 8vh;
    margin-right: 10vh;
    margin-top: 5vh;
    border-radius: 10px;
    padding: auto;
}

.topnav h2{
    padding-top: 1.8rem ;
    font-weight: 400;
    font-size: 40px;
    
}
.arrow{
    padding-top: 6rem;
    font-size: 50px;
    cursor: pointer;
}
/*End of topnavbar*/
.chartgrid{
    color: white;
    padding-top: 0.5rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr;   
    width: 180vh;
    margin-left: 4rem;
}

.chart{
    width: 500px;
    align-items: center;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(75, 71, 71);
    margin-top: 5rem;
}
.barchart{
    padding: 10px;
    padding-top: 2rem;
}
.piechart{
    padding: 10px;

}
/*End of Chart*/

.budget{
    margin-top: 3rem;
    background-color: #20b2aa;
    height: 270px;
    width: 175vh;
    margin-left: 4rem;
    border-radius: 10px;
    font-size: 20px;
}

.link-tag {
    text-align: left;
    margin-left: 40px;
    font-size: 30px;
}
.link-tag a{
    color: yellow;}

.perday-cost {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;   
    font-family: 'Times New Roman', Times, serif; 
}
.perday-cost h2{
    padding-top: 1rem;
    padding-left: 1rem;
}

/*DownTable*/
.downtab{
    height: 600px;
    width: 175vh;
    background-color: white;
    margin-left: 4rem;
    margin-bottom: 10vh;
    margin-top: 20vh;
    border-radius: 10px;
    box-shadow: 0 0 5px rgb(75, 71, 71);
}
.downnav{
    padding-top: 0.5rem;
    margin-top: 10vh;
    align-items: center;
    height: 20vh;
}
.downtitles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 5vh;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
}
li{
    width:60vh;
    height: 10vh;
    background-color: white;
    box-shadow: 0 0 3px black;
    padding-top: 1rem;
}
