*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
.container{
    width: 95%;
    margin-left: auto;
    user-select: none;
    background-color: #f5f6fa;
}
.topsearch{
    height:250px;
    margin-bottom: -14rem;
}
.topnav{
    background-color: #007550;
    color: white; 
     display: flex;
    justify-content: space-between;
    margin-left: 8vh;
    margin-right: 10vh;
    border-radius: 2px;
    padding: auto;
}

.topnav h2{
    padding-top: 1.8rem ;
    font-weight: 400;
    font-size: 40px;
    
}
.arrow{
    padding-top: 6rem;
    font-size: 50px;
    cursor: pointer;
}
.arrowbutton{
    background-color: #007550;
    color: white;
    font-size: 50px;
    border: none;
    outline: none;
    cursor: pointer;

}

/*End of topnavbar*/
.chartgrid{    
    display: grid;
    grid-gap: 5px;
    margin-top: 4rem;
    grid-template-columns: 1fr 1fr;   
    width: 180vh;
    margin-left: 4rem;
}

.chart{
    background-color: #ffffff;
    width: 500px;
    align-items: center;
    color: rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(75, 71, 71);
}
.barchart{
    padding: 10px;
    padding-top: 2rem;
}
.piechart{
    padding: 10px;

}
/*End of Chart*/

.budget{
    margin-top: 3rem;
    background-color: #20b2aa;
    height: 270px;
    width: 175vh;
    margin-left: 4rem;
    border-radius: 10px;
    font-size: 20px;
}

.link-tag {
    text-align: left;
    margin-left: 40px;
    font-size: 30px;
}
.link-tag a{
    color: yellow;}

.perday-cost {
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    justify-content: space-between;   
    font-family: 'Times New Roman', Times, serif; 
}
.perday-cost h2{
    padding-top: 1rem;
    padding-left: 1rem;
}
.amount0{   
    display: inline;
}
.amount0 img{
    width: 400px;
    
}
.displayline p{
    font-family: Georgia, 'Times New Roman', Times, serif;   
    padding-top: 2rem;
    text-align: center;
    font-size: 2rem;
}
/*DownTable*/
.categorys{
    margin-top: 5rem;
    padding-top: 3rem;
    display: grid;
    box-shadow: 0 0 2px black;
    background-color: white;
    height: 450px;
    width: 175vh;
    margin-left: 4rem;
    border-radius: 10px;
    margin-bottom: 50px;
    grid-template-columns: auto auto auto;
}
 
button{
    height: 70px;
    margin-left: 10px;
    margin-right: 10px;
    justify-content: space-between;
    background-color: rgb(238, 235, 228);
    border-radius: 10px;
    cursor: pointer;
    font-size: 20px;
}
.downnav{
    padding-top: 0.5rem;
    margin-top: 10vh;
    align-items: center;
    height: 20vh;
}
.downtitles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    margin-top: 5vh;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-style: bold;
    column-gap: 5px;
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}
li{
    width:60vh;
    height: 10vh;
    background-color: white;
    box-shadow: 0 0 3px black;
    padding-top: 1rem;
}
.downtable h1{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
.downtable p{
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}

