html {
  font-family: "Open Sans" !important;
}

body {
  font-family: "Open Sans" !important;
  /* overflow-y: auto !important; */
}

.Head {
  margin-left: 0px;
  padding: 47px 18px;
}

.h5 {
  font-weight: 300;
  margin-top: 5px;
}

.para {
  line-height: 5px;
  background-image: url("ill-accounts.png");
  background-repeat: round;
  padding: 47px 18px;
  max-width: 50%;
  max-height: 5%;
}

.p1 {
  color: white;
  font-size: 11px;
}

.p2 {
  font-weight: bold;
  font-size: 15px;
}
